@font-face {
  font-family: "NetflixSans";
  src: local("NetflixSans"),
   url("./fonts/NetflixSans-Regular.ttf") format("truetype");
  font-weight: bold;
  }

body {
  background-color:  #1a1a1a ;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: 'NetflixSans';
}
ul.header {
  margin: 0;
  padding: 10;
  list-style: none;
  overflow: hidden;
  background-color: #111;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
ul.header li a {
  color: lightgrey;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}